{% extends 'music/base.html' %}

{% block title %}{{ album }}{% endblock %}

{%  block body %}
<img src="{{ album.album_logo.url }}" width="100" height="100"/>

<h1>{{album.album_title}}</h1>
<h3>{{album.artist}}</h3>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'favourite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}"name="song" value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favourite %}
                <img src="https://cdn2.iconfinder.com/data/icons/crystalproject/crystal_project_256x256/apps/keditbookmarks.png" width="16" height="16">
            {% endif %}
        </label><br>
    {% endfor %}
    <input type="submit" value="Favourite">
</form>
{% endblock %}